<script type="text/ecmascript-6">

    export default {

        props: ['custid', 'action', 'invoiceid'],

        data() {
            return {
                current_invoice: {
                    id: null,
                    created_at: null,
                    update_at: null,
                    customer_id: null,
                    items: []
                },
                input_price: '',
                input_name: '',
                input_quantity: '',
                is_loading: false
            }
        },

        ready() {
            if (this.action == 'new') {
                this.current_invoice.customer_id = this.custid;
                this.is_loading = false;
            } else {
                this.$root.$http.get('/invoice/get/' + this.invoiceid).then(response => {
                            this.current_invoice = response.data;
                            this.is_loading = false;

                        },
                        response => {
                            alert("error loading invoice")
                        })
            }
        },

        computed: {

            sub_total() {
                var total = 0.00;
                for (var i in this.current_invoice.items) {
                    total += (this.current_invoice.items[i].price * this.current_invoice.items[i].quantity);
                }
                return total;
            },

            grand_total() {
                return this.sub_total * 1.2;
            }
        },

        methods: {


            // Format money into a human readable format
            formatMoney(price) {
                return price.toFixed(2).replace(/./g, function (c, i, a) {
                    return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                });
            },

            // Delete an item from the invoice

            deleteItem(index) {
                this.current_invoice.items.splice(index, 1);
            },

            saveChanges() {

                var vue = this;
                this.is_loading = true;
                switch (this.action) {
                    case 'new':
                        this.$root.$http.post('/invoice/new', {invoice: JSON.stringify(this.current_invoice)}).then(response => {
                            vue.is_loading = false;
                            window.location = '/invoice/edit/' + response.data.id;

                        }, response => {
                            vue.is_loading = false;
                            alert("Error creating new invoice");
                        });
                        break;

                    case 'edit':
                        this.$root.$http.post('/invoice/update', {invoice: JSON.stringify(this.current_invoice)}).then(response => {
                            vue.current_invoice = response.data;
                            vue.is_loading = false;
                        }, response => {
                            vue.is_loading = false;
                            alert("error updating invoice");
                        });
                        break;


                }
            },

            addLatestItem(){

                // validation

                if (isNaN(this.input_price) || this.input_price == '') {
                    alert('Please enter a valid price ' + this.input_price);
                    return;
                }

                var price = parseFloat(this.input_price);

                if (price <= 0) {
                    alert("Please enter a price above 0");
                    return;
                }

                if (this.input_name.length < 3 || this.input_name.length >= 100) {
                    alert("Please enter a name between 3-100 characters");
                    return;
                }

                var name = this.input_name;

                var quantity = parseInt(this.input_quantity);

                if (quantity < 1 || this.input_quantity == '') {
                    alert("Please enter a quantity above 0");
                    return;
                }

                this.current_invoice.items.push(
                        {
                            id: null,
                            quantity: quantity,
                            price: price,
                            name: name
                        }
                );
                this.input_name = '';
                this.input_price = '';
                this.input_quantity = '';

            },

            isFloat(n) {
                return n === +n && n !== (n | 0);
            }
        }
    }

</script>


<template>


    <div class="row" v-if="is_loading == false">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class=""><strong>Order summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td><strong>Item Name</strong></td>
                                <td class=""><strong>Item Price</strong></td>
                                <td class=""><strong>Item Quantity</strong></td>
                                <td class=""><strong>Action</strong></td>

                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in current_invoice.items">
                                <td>{{item.name}}</td>
                                <td class="">&pound;{{formatMoney(item.price)}}</td>
                                <td class="">{{item.quantity}}</td>
                                <td class=""><a class="btn btn-danger" v-on:click="deleteItem($index)">Delete</a></td>
                            </tr>


                            <tr>
                                <td><input type="text" v-model="input_name" placeholder="name"
                                           placeholder="Enter a name"/></td>
                                <td><input type="text" v-model="input_price" placeholder="price"
                                           placeholder="Enter a price"/></td>
                                <td><input type="number" value="1" v-model="input_quantity" placeholder="1" min="1">
                                </td>
                                <td><a class="btn btn-primary" v-on:click="addLatestItem()"><i class="fa fa-plus"></i>
                                    New item</a></td>
                            </tr>
                            <tr>
                                <td class="highrow"></td>
                                <td class="highrow"></td>
                                <td class="highrow "><strong>Subtotal</strong></td>
                                <td class="highrow text-right">&pound;{{formatMoney(sub_total)}}</td>
                            </tr>
                            <tr>
                                <td class="emptyrow"></td>
                                <td class="emptyrow"></td>
                                <td class="emptyrow "><strong>Tax</strong></td>
                                <td class="emptyrow text-right">20%</td>
                            </tr>
                            <tr>
                                <td class="emptyrow"></td>
                                <td class="emptyrow"></td>
                                <td class="emptyrow "><strong>Grand Total</strong></td>
                                <td class="emptyrow text-right">&pound;{{formatMoney(grand_total)}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <a class="btn btn-primary" v-on:click="saveChanges">Save changes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-else>
        <h3 style="margin-top: 110px">Loading please wait</h3>
    </div>
</template>