<script type="text/ecmascript-6">

    export default  {
        data() {
            return {
                ajax_request: null,
                results: [],
                request: null,
                search_term: '',
            }
        },

        computed: {
            is_busy() {
                return this.request != null || this.ajax_request != null;
            }
        },
        watch: {
            'search_term': {
                handler() {
                    // stop ajax spam

                    if (this.request != null) {
                        clearTimeout(this.request);
                        this.request = null;
                    }
                    var vue = this;
                    this.request = setTimeout(function () {

                        if (vue.ajax_request != null) {
                            vue.ajax_request.abort();
                        }

                        vue.ajax_request = vue.$root.$http.post('/customer/search', {search: vue.search_term}).then(response => {
                            vue.ajax_request = null;
                            vue.results = response.data.results;
                        }, response => {
                            vue.ajax_request = null;
                        });
                        vue.request = null;

                    }, 500);
                }
            }
        }
    }
</script>

<template>

    <div class="row">
        <div class="col-md-8">

        </div>

        <div class="col-md-4">
            <div class="input-group">
                <input type="text" placeholder="Enter a name, email etc.."
                       class="form-control" placeholder="Search"
                       name="srch-term" id="srch-term" v-model="search_term">

                <div class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="search-area" v-if="search_term == ''">
                {{request}}

                <h3 v-if="search_term == ''">Use the search box above to search for a customer by name, email etc..</h3>

            </div>
            <div class="search-area" v-if="is_busy && search_term != ''">
                <h3>
                    Searching.. {{search_term}}
                </h3>
            </div>
            <div class="search-area" v-if="!is_busy && search_term != '' && results.length == 0">
                <h3>No results found</h3>
            </div>
            <div class="results-area" v-if="!is_busy && search_term != '' && results.length > 0">

                <div class="row">
                    <div class="col-md-12">

                        <table class="table" style="width: 100%; margin-top: 50px;">
                            <thead>
                                <th>Name</th>
                                <th>Company name</th>
                                <th>Email</th>
                                <th>Delete</th>
                                <th>Edit</th>
                            </thead>

                            <tbody>
                            <tr v-for="result in results">
                                <td>{{result.name}}</td>
                                <td>{{result.company_name}}</td>
                                <td>{{result.email}}</td>
                                <td><a class="btn btn-danger" href="/customer/delete/{{result.id}}">Delete</a></td>

                                <td><a class="btn btn-primary" href="/customer/edit/{{result.id}}">Edit</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>


</template>