

#index a {
    width: 100%;
    text-align: center;
    padding: 28px;
    display: block;
    border: 1px solid #e96060;
    color: #e96060;
    font-size: 22px;
    border-radius: 6px;

}

#index a:hover {
    text-decoration: none;
    background: lightgray;
}

#index .row {
    margin-bottom: 20px;
}

.container {
    margin-top: 100px;
}

.search-area h3 {
    margin-top: 120px;
    text-align: center;
    font-weight: normal;
    color: #808080;
}